<!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"10px","bottom":"10px","left":"var:preset|spacing|x-small","right":"var:preset|spacing|x-small"}},"position":{"type":"sticky","top":"0px"}},"backgroundColor":"base","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide has-base-background-color has-background" style="padding-top:10px;padding-right:var(--wp--preset--spacing--x-small);padding-bottom:10px;padding-left:var(--wp--preset--spacing--x-small)"><!-- wp:template-part {"slug":"header","tagName":"header","align":"wide","className":"site-header"} /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"breadcrumbs","area":"uncategorized"} /-->

<!-- wp:template-part {"slug":"title-section-2","area":"uncategorized"} /-->

<!-- wp:template-part {"slug":"posts-4-column","area":"uncategorized"} /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->