<!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"0px","bottom":"0px","left":"0","right":"0"},"blockGap":"0"},"position":{"type":"sticky","top":"0px"}},"backgroundColor":"base","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide has-base-background-color has-background" style="padding-top:0px;padding-right:0;padding-bottom:0px;padding-left:0"><!-- wp:template-part {"slug":"header","theme":"lsx-design","tagName":"header","align":"wide","className":"site-header"} /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"breadcrumbs","theme":"lsx-design","area":"uncategorized"} /-->

<!-- wp:group {"align":"wide","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide"><!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"10px"}},"layout":{"type":"constrained","justifyContent":"left"}} -->
<div class="wp-block-group alignwide"><!-- wp:heading {"textAlign":"left","level":1,"style":{"spacing":{"padding":{"bottom":"0"}}},"className":"wp-block-heading","fontSize":"x-large"} -->
<h1 class="wp-block-heading has-text-align-left has-x-large-font-size" id="h-latest-news" style="padding-bottom:0">Latest News</h1>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Stay updated with our recent insights and innovations.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"right":"var:preset|spacing|x-small","left":"var:preset|spacing|x-small","top":"10px","bottom":"10px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide" style="padding-top:10px;padding-right:var(--wp--preset--spacing--x-small);padding-bottom:10px;padding-left:var(--wp--preset--spacing--x-small)"><!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"10px","bottom":"10px","left":"20px","right":"20px"}},"color":{"background":"#e9edf745"},"border":{"width":"1px","color":"var( \u002d\u002dwp\u002d\u002dcustom\u002d\u002dcolour\u002d\u002dneutral\u002d\u002d100 )","radius":"12px"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide has-border-color has-background" style="border-color:var( --wp--custom--colour--neutral--100 );border-width:1px;border-radius:12px;background-color:#e9edf745;padding-top:10px;padding-right:20px;padding-bottom:10px;padding-left:20px"><!-- wp:navigation {"ref":2973,"align":"wide","style":{"typography":{"fontStyle":"normal","fontWeight":"500"},"spacing":{"blockGap":"var:preset|spacing|x-small"}}} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"posts-query-3-column","theme":"lsx-design","area":"uncategorized"} /-->

<!-- wp:template-part {"slug":"footer","theme":"lsx-design","tagName":"footer"} /-->