<!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"10px","bottom":"10px","left":"var:preset|spacing|x-small","right":"var:preset|spacing|x-small"}},"position":{"type":"sticky","top":"0px"}},"backgroundColor":"base","layout":{"type":"default"}} -->
<div class="wp-block-group alignwide has-base-background-color has-background" style="padding-top:10px;padding-right:var(--wp--preset--spacing--x-small);padding-bottom:10px;padding-left:var(--wp--preset--spacing--x-small)"><!-- wp:template-part {"slug":"header","tagName":"header","align":"wide","className":"site-header"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0"},"padding":{"top":"var:preset|spacing|small","bottom":"var:preset|spacing|medium","right":"var:preset|spacing|x-small","left":"var:preset|spacing|x-small"},"blockGap":"var:preset|spacing|small"}},"className":"site-content","layout":{"type":"constrained"}} -->
<main class="wp-block-group site-content" style="margin-top:0;padding-top:var(--wp--preset--spacing--small);padding-right:var(--wp--preset--spacing--x-small);padding-bottom:var(--wp--preset--spacing--medium);padding-left:var(--wp--preset--spacing--x-small)"><!-- wp:group {"align":"wide","layout":{"type":"default"}} -->
<div class="wp-block-group alignwide"><!-- wp:post-title {"level":1,"align":"wide","style":{"typography":{"lineHeight":"1.35"}},"fontSize":"huge"} /--></div>
<!-- /wp:group -->

<!-- wp:post-content {"align":"wide","style":{"spacing":{"blockGap":"1rem"}},"layout":{"type":"default"}} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->