<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"style":{"spacing":{"blockGap":"0","padding":{"top":"var:preset|spacing|x-small","bottom":"var:preset|spacing|x-large","left":"var:preset|spacing|x-small","right":"var:preset|spacing|x-small"},"margin":{"top":"0","bottom":"0"}}},"backgroundColor":"base","layout":{"type":"default"}} -->
<div class="wp-block-group has-base-background-color has-background" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--x-small);padding-right:var(--wp--preset--spacing--x-small);padding-bottom:var(--wp--preset--spacing--x-large);padding-left:var(--wp--preset--spacing--x-small)"><!-- wp:group {"align":"wide","layout":{"type":"constrained"}} -->
	<div class="wp-block-group alignwide"><!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"0","padding":{"bottom":"var:preset|spacing|x-small"}}},"layout":{"type":"constrained","contentSize":"800px","justifyContent":"left"}} -->
	<div class="wp-block-group alignwide" style="padding-bottom:var(--wp--preset--spacing--x-small)"><!-- wp:query-title {"type":"search","align":"wide","style":{"spacing":{"padding":{"bottom":"0"},"margin":{"top":"0","bottom":"0"}}},"fontSize":"huge"} /-->
	
	<!-- wp:search {"label":"\u003cstrong\u003eSearch Again\u003c/strong\u003e","width":100,"widthUnit":"%","buttonText":"Search","style":{"layout":{"selfStretch":"fill","flexSize":null}},"fontSize":"medium"} /--></div>
	<!-- /wp:group --></div>
	<!-- /wp:group -->
	
	<!-- wp:query {"queryId":0,"query":{"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"perPage":"9","parents":[]},"lock":{"move":false,"remove":false},"layout":{"type":"constrained","wideSize":"100%","contentSize":"100%"}} -->
	<div class="wp-block-query"><!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"var:preset|spacing|x-small","bottom":"var:preset|spacing|x-small"}}},"backgroundColor":"base","layout":{"type":"constrained","contentSize":"1200px"}} -->
	<div class="wp-block-group alignwide has-base-background-color has-background" style="padding-top:var(--wp--preset--spacing--x-small);padding-bottom:var(--wp--preset--spacing--x-small)"><!-- wp:post-template {"align":"wide","layout":{"type":"grid","columnCount":3}} -->
	<!-- wp:group {"style":{"spacing":{"blockGap":"10px","padding":{"top":"0","right":"0","bottom":"0","left":"0"},"margin":{"bottom":"0","top":"0"}},"border":{"width":"0px","style":"none"}},"backgroundColor":"neutral","className":"project-","layout":{"type":"constrained"}} -->
	<div class="wp-block-group project- has-neutral-background-color has-background" style="border-style:none;border-width:0px;margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:group {"style":{"elements":{"link":{"color":{"text":"var:preset|color|contrast"},":hover":{"color":{"text":"var:preset|color|secondary"}}}},"spacing":{"blockGap":"5px","padding":{"top":"10px","right":"10px","left":"10px","bottom":"20px"}}},"backgroundColor":"neutral","layout":{"type":"constrained"}} -->
	<div class="wp-block-group has-neutral-background-color has-background has-link-color" style="padding-top:10px;padding-right:10px;padding-bottom:20px;padding-left:10px"><!-- wp:post-title {"isLink":true,"style":{"layout":{"flexSize":"min(2.5rem, 3vw)","selfStretch":"fixed"},"typography":{"fontStyle":"normal","fontWeight":"700","lineHeight":"1.35"},"elements":{"link":{"color":{"text":"var:preset|color|contrast"},":hover":{"color":{"text":"var:preset|color|secondary"}}}}},"fontSize":"large"} /-->
	
	<!-- wp:group {"style":{"spacing":{"blockGap":"0.3em"}},"layout":{"type":"flex","justifyContent":"left"},"fontSize":"x-small"} -->
	<div class="wp-block-group has-x-small-font-size"><!-- wp:post-date {"format":"M j, Y","isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|contrast"},":hover":{"color":{"text":"var:preset|color|secondary"}}}}}} /-->
	
	<!-- wp:paragraph {"style":{"spacing":{"padding":{"top":"0","bottom":"0"}}},"textColor":"contrast-2"} -->
	<p class="has-contrast-2-color has-text-color" style="padding-top:0;padding-bottom:0">—</p>
	<!-- /wp:paragraph -->
	
	<!-- wp:paragraph {"style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"0","bottom":"0"}}},"textColor":"contrast-2","fontSize":"x-small"} -->
	<p class="has-contrast-2-color has-text-color has-x-small-font-size" style="margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0">by</p>
	<!-- /wp:paragraph -->
	
	<!-- wp:post-author-name {"isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|contrast"},":hover":{"color":{"text":"var:preset|color|secondary"}}}}}} /-->
	
	<!-- wp:post-terms {"term":"category","prefix":"in ","style":{"elements":{"link":{"color":{"text":"var:preset|color|contrast"},":hover":{"color":{"text":"var:preset|color|secondary"}}}}}} /--></div>
	<!-- /wp:group -->
	
	<!-- wp:post-excerpt {"moreText":"\u003cstrong\u003eREAD MORE\u003c/strong\u003e","showMoreOnNewLine":false,"excerptLength":20,"style":{"layout":{"flexSize":"min(2.5rem, 3vw)","selfStretch":"fixed"}},"textColor":"contrast-2","fontSize":"small"} /--></div>
	<!-- /wp:group --></div>
	<!-- /wp:group -->
	<!-- /wp:post-template --></div>
	<!-- /wp:group -->
	
	<!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"var:preset|spacing|x-small","bottom":"var:preset|spacing|x-small"}}},"backgroundColor":"base","layout":{"type":"constrained","contentSize":"1200px"}} -->
	<div class="wp-block-group alignwide has-base-background-color has-background" style="padding-top:var(--wp--preset--spacing--x-small);padding-bottom:var(--wp--preset--spacing--x-small)"><!-- wp:post-template {"align":"wide","layout":{"type":"grid","columnCount":3}} -->
	<!-- wp:group {"style":{"spacing":{"blockGap":"10px","padding":{"top":"0","right":"0","bottom":"0","left":"0"},"margin":{"bottom":"0","top":"0"}},"border":{"width":"0px","style":"none"}},"backgroundColor":"neutral","className":"project-","layout":{"type":"constrained"}} -->
	<div class="wp-block-group project- has-neutral-background-color has-background" style="border-style:none;border-width:0px;margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:group {"style":{"elements":{"link":{"color":{"text":"var:preset|color|contrast"},":hover":{"color":{"text":"var:preset|color|secondary"}}}},"spacing":{"blockGap":"5px","padding":{"top":"10px","right":"10px","left":"10px","bottom":"20px"}}},"backgroundColor":"neutral","layout":{"type":"constrained"}} -->
	<div class="wp-block-group has-neutral-background-color has-background has-link-color" style="padding-top:10px;padding-right:10px;padding-bottom:20px;padding-left:10px"><!-- wp:post-title {"isLink":true,"style":{"layout":{"flexSize":"min(2.5rem, 3vw)","selfStretch":"fixed"},"typography":{"fontStyle":"normal","fontWeight":"700","lineHeight":"1.35"},"elements":{"link":{"color":{"text":"var:preset|color|contrast"},":hover":{"color":{"text":"var:preset|color|secondary"}}}}},"fontSize":"large"} /-->
	
	<!-- wp:group {"style":{"spacing":{"blockGap":"0.3em"}},"layout":{"type":"flex","justifyContent":"left"},"fontSize":"x-small"} -->
	<div class="wp-block-group has-x-small-font-size"><!-- wp:post-date {"format":"M j, Y","isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|contrast"},":hover":{"color":{"text":"var:preset|color|secondary"}}}}}} /-->
	
	<!-- wp:paragraph {"style":{"spacing":{"padding":{"top":"0","bottom":"0"}}},"textColor":"contrast-2"} -->
	<p class="has-contrast-2-color has-text-color" style="padding-top:0;padding-bottom:0">—</p>
	<!-- /wp:paragraph -->
	
	<!-- wp:paragraph {"style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"0","bottom":"0"}}},"textColor":"contrast-2","fontSize":"x-small"} -->
	<p class="has-contrast-2-color has-text-color has-x-small-font-size" style="margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0">by</p>
	<!-- /wp:paragraph -->
	
	<!-- wp:post-author-name {"isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|contrast"},":hover":{"color":{"text":"var:preset|color|secondary"}}}}}} /-->
	
	<!-- wp:post-terms {"term":"category","prefix":"in ","style":{"elements":{"link":{"color":{"text":"var:preset|color|contrast"},":hover":{"color":{"text":"var:preset|color|secondary"}}}}}} /--></div>
	<!-- /wp:group -->
	
	<!-- wp:post-excerpt {"moreText":"\u003cstrong\u003eREAD MORE\u003c/strong\u003e","showMoreOnNewLine":false,"excerptLength":20,"style":{"layout":{"flexSize":"min(2.5rem, 3vw)","selfStretch":"fixed"}},"textColor":"contrast-2","fontSize":"small"} /--></div>
	<!-- /wp:group --></div>
	<!-- /wp:group -->
	<!-- /wp:post-template --></div>
	<!-- /wp:group -->
	
	<!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"var:preset|spacing|x-small","bottom":"var:preset|spacing|x-small"}}},"layout":{"type":"constrained","contentSize":"1200px"}} -->
	<div class="wp-block-group alignwide" style="padding-top:var(--wp--preset--spacing--x-small);padding-bottom:var(--wp--preset--spacing--x-small)"><!-- wp:query-pagination {"paginationArrow":"chevron","style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}},"textColor":"secondary","layout":{"type":"flex","justifyContent":"space-between","flexWrap":"nowrap"}} -->
	<!-- wp:query-pagination-previous {"style":{"typography":{"fontStyle":"normal","fontWeight":"700"}}} /-->
	
	<!-- wp:query-pagination-numbers /-->
	
	<!-- wp:query-pagination-next {"style":{"typography":{"fontStyle":"normal","fontWeight":"700"}}} /-->
	<!-- /wp:query-pagination --></div>
	<!-- /wp:group -->
	
	<!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"var:preset|spacing|x-small","bottom":"var:preset|spacing|x-small"}}},"backgroundColor":"base","layout":{"type":"constrained","contentSize":"1200px"}} -->
	<div class="wp-block-group alignwide has-base-background-color has-background" style="padding-top:var(--wp--preset--spacing--x-small);padding-bottom:var(--wp--preset--spacing--x-small)"><!-- wp:query-no-results {"align":"wide"} -->
	<!-- wp:heading {"style":{"spacing":{"blockGap":"10px","padding":{"top":"0","right":"0","bottom":"0","left":"0"},"margin":{"bottom":"0","top":"0"}},"border":{"width":"0px","style":"none"}},"backgroundColor":"neutral","className":"project-"} -->
	<h2 class="wp-block-heading project- has-neutral-background-color has-background" id="h-no-results-found" style="border-style:none;border-width:0px;margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">No Results Found</h2>
	<!-- /wp:heading -->
	
	<!-- wp:paragraph -->
	<p><strong>Oops!</strong> It looks like we couldn't find any matches for your search. But don't worry, there's plenty more to explore! Try adjusting your search terms,</p>
	<!-- /wp:paragraph -->
	<!-- /wp:query-no-results --></div>
	<!-- /wp:group --></div>
	<!-- /wp:query --></div>
	<!-- /wp:group -->
	
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->