<!-- wp:template-part {"slug":"woo-header-light","align":"wide"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0"},"padding":{"top":"40px","bottom":"80px"}}},"className":"site-content"} -->
<main class="wp-block-group site-content" style="margin-top:0;padding-top:40px;padding-bottom:80px">

<!-- wp:group {"style":{"spacing":{"padding":{"right":"2rem","left":"2rem"}}},"layout":{"inherit":false}} -->
<div class="wp-block-group" style="padding-right:2rem;padding-left:2rem"><!-- wp:group {"layout":{"inherit":false,"contentSize":"1200px","type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:group {"style":{"spacing":{"padding":{"top":"3em"}}},"layout":{"contentSize":"1120px","type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:3em"><!-- wp:woocommerce/legacy-template {"template":"taxonomy-product_cat"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->