<!-- wp:template-part {"slug":"woo-header-light","theme":"lsx-design","align":"wide"} /-->

<!-- wp:template-part {"slug":"breadcrumbs","theme":"lsx-design","area":"uncategorized"} /-->

<!-- wp:template-part {"slug":"title-section-2","theme":"lsx-design","area":"uncategorized"} /-->

<!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"right":"var:preset|spacing|x-small","left":"var:preset|spacing|x-small","top":"var:preset|spacing|x-small","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide" style="padding-top:var(--wp--preset--spacing--x-small);padding-right:var(--wp--preset--spacing--x-small);padding-bottom:0;padding-left:var(--wp--preset--spacing--x-small)"><!-- wp:woocommerce/store-notices /-->

    <!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"left":"0","right":"0","top":"0","bottom":"0"},"margin":{"top":"0","bottom":"0"},"blockGap":"10px"}},"layout":{"type":"flex","flexWrap":"wrap","justifyContent":"space-between","verticalAlignment":"center"}} -->
    <div class="wp-block-group alignwide" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:woocommerce/product-results-count {"fontSize":"small","style":{"layout":{"selfStretch":"fill","flexSize":null}}} /-->
    
    <!-- wp:woocommerce/catalog-sorting {"fontSize":"x-small"} /--></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"product-collection-all-archives","theme":"lsx-design"} /-->
    
    <!-- wp:template-part {"slug":"footer","theme":"lsx-design"} /-->