
.tribe-events .tribe-events-c-search__input-control {
    margin-right: 10px !important;
}
.tribe-events-c-view-selector--tabs .tribe-events-c-view-selector__content {
    width: 200px !important;
    margin: 0 auto !important;
}
.tribe-events .tribe-events-c-events-bar .tribe-common-form-control-text__input {
    border: 2px solid #000 !important;
    padding: 11px 35px 7px !important;
}
.tribe-common--breakpoint-medium.tribe-common .tribe-common-form-control-text__input,
.tribe-common .tribe-common-form-control-text__input {
    font-family: var(--wp--preset--font-family--primary) !important;
    font-size: var(--wp--preset--font-size--x-small) !important;
}
.tribe-events .tribe-events-c-search__button,
.tribe-events button.tribe-events-c-search__button {
    background-color: var(--wp--preset--color--secondary) !important;
    border-radius: 0 !important;
    border-width: 0 !important;
    color: var(--wp--preset--color--base) !important;
    font-family: var(--wp--preset--font-family--primary) !important;
    font-size: var(--wp--preset--font-size--x-small) !important;
    font-weight: 700 !important;
    line-height: inherit !important;
    margin-top: 0px !important;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 10px !important;
    padding-right: 20px !important;
    padding-bottom: 10px !important;
    padding-left: 20px !important;
    text-decoration: none;
    cursor: pointer;
}
.tribe-events .tribe-events-c-events-bar__views {
    display: block !important;
    width: 100% !important;
}
.tribe-events .tribe-events-c-view-selector--tabs .tribe-events-c-view-selector__list-item--active {
    background-color: var(--wp--preset--color--secondary) !important;
    color: #fff !important;
}
.tribe-events .tribe-events-c-view-selector__list-item--active .tribe-events-c-view-selector__list-item-text {
    color: #fff !important;
}
.tribe-common--breakpoint-medium.tribe-events .tribe-events-c-view-selector--tabs .tribe-events-c-view-selector__list-item--active .tribe-events-c-view-selector__list-item-link:after {
    display: none !important;
}
.tribe-common--breakpoint-medium.tribe-events .tribe-events-c-view-selector--tabs .tribe-events-c-view-selector__list-item-link {
    padding: 0 !important;
}
.tribe-common--breakpoint-medium.tribe-events .tribe-events-c-view-selector--tabs .tribe-events-c-view-selector__list-item {
    border-radius: 0 !important;
    border: 1px solid var(--wp--preset--color--secondary) !important;
    color: var(--wp--preset--color--base) !important;
    font-family: var(--wp--preset--font-family--primary) !important;
    font-size: var(--wp--preset--font-size--x-small) !important;
    padding-top: 10px !important;
    padding-right: 20px !important;
    padding-bottom: 10px !important;
    padding-left: 20px !important;
}

.tribe-common .tribe-common-c-btn-icon--caret-left .tribe-common-c-btn-icon__icon-svg,
.tribe-common .tribe-common-c-btn-icon--caret-right .tribe-common-c-btn-icon__icon-svg {
    width: 16px !important;
    height: 14px !important;
    margin-top: -12px;
    color: #000 !important;
}
.tribe-common .tribe-common-c-btn-icon {
    margin-top: -10px !important;
}
.tribe-common .tribe-common-b1,
.tribe-common .tribe-common-b2,
.tribe-common h1,
.tribe-common h2,
.tribe-common h3,
.tribe-common h4,
.tribe-common h5,
.tribe-common h6,
.tribe-common p,
.tribe-events button.tribe-events-c-top-bar__datepicker-button,
.tribe-events a {
    font-family: var(--wp--preset--font-family--primary) !important;
}
.tribe-common.tribe-common--breakpoint-medium button.tribe-events-c-top-bar__datepicker-button {
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: var(--wp--custom--line-height--large);
}
.tribe-common .tribe-events-calendar-list h2:after {
    display: none !important;
}

.tribe-common .tribe-common-c-btn-icon--caret-left .tribe-common-c-btn-icon__icon-svg path,
.tribe-common .tribe-common-c-btn-icon--caret-right .tribe-common-c-btn-icon__icon-svg path {
    fill: #000 !important;
}
.tribe-common--breakpoint-medium.tribe-events .tribe-events-c-view-selector__list-item:hover a {
    color: #fff !important;
}

/* PAGE CONTAINER */

body .tribe-common--breakpoint-medium.tribe-common .tribe-common-l-container {
    padding-left: 0 !important;
    padding-right: 0 !important;
	padding-top: 0;
    padding-bottom: 20px;
}

body .tribe-common .tribe-common-anchor-thin:active,body .tribe-common .tribe-common-anchor-thin:focus, body .tribe-common .tribe-common-anchor-thin:hover{color:var(--wp--preset--color--secondary);}

/* HEADER */
.tribe-events-header {
    margin-top: 10px !important;
}
.tribe-common--breakpoint-medium.tribe-events .tribe-events-c-events-bar--border {
    border: none !important;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-c-events-bar__search-container {
    display: inline-block !important;
    flex: initial;
    padding: 0;
    top: -92px !important;
    position: absolute !important;
    width: 540px;
    margin: 0 auto !important;
    z-index: auto;
}

/* TOP BAR - TITLE, TODAY, PAGINATION */
body .tribe-common.tribe-events .tribe-events-c-top-bar__datepicker-button-icon-svg {
	margin-top: 7px;
}
body .tribe-common--breakpoint-medium.tribe-events .tribe-events-c-top-bar__nav {
	order: 3;
}
body .tribe-common--breakpoint-medium.tribe-events .tribe-events-c-top-bar__datepicker {
	order: 2;
}
body .tribe-common--breakpoint-medium.tribe-events .tribe-events-c-top-bar__today-button {	
	order: 1;
	margin-right: 100%;
    border: 0;
    padding: 0px !important;
}
body .tribe-common--breakpoint-medium.tribe-events a.tribe-events-c-top-bar__today-button::after {
	flex-basis: 100%;
	height: 0;
	display: block;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-c-view-selector__list-item:focus,
.tribe-common--breakpoint-medium.tribe-events .tribe-events-c-view-selector__list-item:focus-within,
.tribe-common--breakpoint-medium.tribe-events .tribe-events-c-view-selector__list-item:hover {
    background-color: var(--wp--preset--color--secondary) !important;
    color: #fff !important;
}
.tribe-events-c-top-bar__nav-list-item {
    border-radius: 50px !important;
    border: 2px solid var(--wp--preset--color--contrast) !important;
    height: 27px;
    width: 29px;
    margin: 0px 4px 3px !important;
}
.tribe-events-c-top-bar__nav-list-item:first-child {
	padding: 0px 4px 0px 3px !important;
}
.tribe-events-c-top-bar__nav-list-item:last-child {
	padding: 0px 1px 0px 6px !important;
}

/* FILTER BAR */
body .tribe-common .tribe-filter-bar__form-heading {
	font-weight: var(--wp--custom--font-weight--bold);
	font-size: var(--wp--preset--font-size--small);
}
body .tribe-common--breakpoint-medium .tribe-filter-bar--vertical.tribe-filter-bar .tribe-filter-bar__form-heading {
	padding-top: 0;
    border-bottom: 1px solid var(--wp--preset--color--black);
    padding: 0 0 10px;
}
body .tribe-filter-bar .tribe-filter-bar-c-filter:first-child {
	border-top: 0;
}
body .tribe-filter-bar .tribe-filter-bar-c-filter {
    border-top: 1px solid var(--wp--preset--color--black);
}
body .tribe-filter-bar .tribe-filter-bar__filters {
	border-bottom: 1px solid var(--wp--preset--color--black);
}

body .tribe-filter-bar .tribe-filter-bar-c-filter__toggle {
	padding: 12px;
}

/* EVENT LOOP */
body .tribe-common .tribe-events-calendar-list__month-separator {
    border-bottom: 1px solid var(--wp--preset--color--black);
    padding: 0 0 10px;
}
body .tribe-common .tribe-events-calendar-list__month-separator .tribe-events-calendar-list__month-separator-text {
	font-family: var(--wp--preset--font-family--primary);
	font-weight: var(--wp--custom--font-weight--bold);
	font-size: var(--wp--preset--font-size--small);
	line-height: var(--wp--custom--line-height--normal);
}

body .tribe-events .tribe-events-calendar-list__event-date-tag-datetime .tribe-events-calendar-list__event-date-tag-weekday {
	font-family: var(--wp--preset--font-family--primary);
	font-weight: var(--wp--custom--font-weight--medium);
	font-size: var(--wp--preset--font-size--tiny);
	color: var(--wp--preset--color--contrast);
}

body .tribe-events .tribe-events-c-subscribe-dropdown__container {
	margin-left: auto;
	width:100%;
}

body .tribe-events .tribe-events-c-subscribe-dropdown .tribe-events-c-subscribe-dropdown__list, .tribe-events .tribe-events-c-subscribe-dropdown .tribe-events-c-subscribe-dropdown__list{
	font-family: var(--wp--preset--font-family--primary);
	font-size: var(--wp--preset--font-size--x-small);
}

body .tribe-events .tribe-events-c-subscribe-dropdown__content{top:72px!important;}

body .tribe-events .tribe-events-c-subscribe-dropdown .tribe-events-c-subscribe-dropdown__button{
    padding: 24px 33px;
    border:0;
    font-family: var(--wp--preset--font-family--primary);
    color:#fff;
    font-size: var(--wp--preset--font-size--small);
    font-weight: var(--wp--custom--font-weight--medium);
    justify-content: center;
    align-items: center;
    background-color: var(--wp--preset--color--secondary)!important;
    width:100%;
    }
    
    body .tribe-events.tribe-events-c-subscribe-dropdown .tribe-events-c-subscribe-dropdown__button:hover{background-color:var(--wp--preset--color--septenary)!important;}

body .tribe-events .tribe-events-calendar-list__event-date-tag-datetime .tribe-events-calendar-list__event-date-tag-daynum {
	font-family: var(--wp--preset--font-family--primary);
	font-weight: var(--wp--custom--font-weight--medium);
	font-size: var(--wp--preset--font-size--large);
	color: var(--wp--preset--color--contrast);
	line-height: var(--wp--custom--line-height--large);
}

.tribe-events .tribe-events-calendar-list__event-datetime-wrapper .tribe-events-calendar-list__event-datetime {
	font-weight: var(--wp--custom--font-weight--medium);
	font-size: var(--wp--preset--font-size--x-small);
	color: var(--wp--preset--color--contrast);
	line-height: var(--wp--custom--line-height--small);
}

body .tribe-events .tribe-events-calendar-list .tribe-events-calendar-list__event-title {
	font-weight: var(--wp--custom--font-weight--bold);
	font-size: var(--wp--preset--font-size--large);
	line-height: var(--wp--custom--line-height--large);
}

body .tribe-events .tribe-events-calendar-list .tribe-events-calendar-list__event-header address{
	font-size: var(--wp--preset--font-size--x-small);
	line-height: var(--wp--custom--line-height--small);
}

.tribe-common p {
	font-size: var(--wp--preset--font-size--x-small);
	font-weight: var(--wp--custom--font-weight--medium);
	line-height: var(--wp--custom--line-height--small);
}
body .tribe-events .tribe-events-calendar-list__event-cost .tribe-events-c-small-cta__price {
	font-weight: var(--wp--custom--font-weight--medium);
	font-family: var(--wp--preset--font-family--primary);
}

/* FOOTER */

body .tribe-common.tribe-events .tribe-events-calendar-list-nav {
    border-top: 0;
	color: var(--wp--preset--color--contrast);
	padding-top: 0px;
    font-weight: var(--wp--custom--font-weight--medium);
	font-family: var(--wp--preset--font-family--primary);
}

body .tribe-events-c-nav__prev-label,
body .tribe-events-c-nav__next-label {
	font-weight: var(--wp--custom--font-weight--medium);
}

body .single-tribe_events .tribe-events-c-subscribe-dropdown .tribe-events-c-subscribe-dropdown__content,
body .tribe-events .tribe-events-c-subscribe-dropdown .tribe-events-c-subscribe-dropdown__content {
	position: absolute;
}
