.tribe-events-single-event-title{font-family: var(--wp--preset--font-family--primary)!important;}
.tribe-events-venue-map{width:100%!important;}
.tribe-events-meta-group.tribe-events-meta-group-details{width:33%;}
.tribe-events-meta-group.tribe-events-meta-group-organizer{width:33%;}


/* CONTAINER */
.tribe-block #tribe-events-pg-template {
	margin: 0;
	padding: 0;
	max-width: 100%;
}

/* HEADER */
.tec-block__single-event #tribe-events-content .tribe-events-back,
.tec-block__single-event #tribe-events-content .tribe-events-notices {
	display: none;
}

body.single-tribe_events .tribe-events-tickets .tickets_description, body.single-tribe_events .tribe-events-tickets .tickets_name, body.single-tribe_events .tribe-events-tickets .tickets_name p, body.single-tribe_events .tribe-events-tickets .tickets_price{
	color: var(--tec-color-text-primary);
	font-family: var(--wp--preset--font-family--primary);
	font-size: var(--wp--preset--font-size--small);}

.tec-block__single-event .tribe-events-single-event-title {
	font-size: var(--wp--preset--font-size--gigantic);
	font-weight: var(--wp--custom--font-weight--bold);
}

.tec-block__single-event .tribe-events-schedule h2 {
	font-family: var(--wp--preset--font-family--primary);
	font-size: var(--wp--preset--font-size--small);
	line-height: var(--wp--custom--line-height--normal);
	font-weight: 500;
}

/* BODY */

body.single-tribe_events .tribe-block.tec-block__single-event{margin-top:0;}

body .tribe-events-event-image {
    margin-bottom: 40px;
}

.tec-block__single-event #tribe-events-content .tribe-events-single-event-description.tribe-events-content {
	flex-basis: 70%;
}

.wp-block-post-excerpt__more-text{
	margin-top:0;
}

body.single-tribe_events .tribe-events-schedule .tribe-events-cost{
	padding:3px 8px;
	font-family: var(--wp--preset--font-family--primary);
	color:#fff;
justify-content: center;
align-items: center;
background-color: var(--wp--preset--color--primary)!important;
border-radius: 5px;
}

.tec-block__single-event .tribe-events-content p {
	font-family: var(--wp--preset--font-family--primary);
	font-size: var(--wp--preset--font-size--x-small);
	font-weight: var(--wp--custom--font-weight--medium);
}

.tec-block__single-event #tribe-events-content .tribe-events.tribe-common {
	flex-basis: 30%;
}

body.single-tribe_events .tribe-events-c-subscribe-dropdown .tribe-events-c-subscribe-dropdown__button{
padding: 24px 33px;
border:0;
font-family: var(--wp--preset--font-family--primary);
color:#fff;
font-size: var(--wp--preset--font-size--small);
font-weight: var(--wp--custom--font-weight--medium);
justify-content: center;
align-items: center;
background-color: var(--wp--preset--color--secondary)!important;
width:100%;
}

body.single-tribe_events .tribe-events-c-subscribe-dropdown .tribe-events-c-subscribe-dropdown__button:hover{background-color:var(--wp--preset--color--septenary)!important;}

body.single-tribe_events .tec-block__single-event .tribe-events-c-subscribe-dropdown {
	margin-top: 0;
}

body.single-tribe_events .tribe-events-event-image img{
	width: 100%;
    height: auto;
}

body.single-tribe_events .tribe-events .tribe-events-c-subscribe-dropdown__container {
	margin-left: auto;
	width:100%;
}

body.single-tribe_events.single-tribe_events .tribe-events-c-subscribe-dropdown__content{top:72px!important;}

body.single-tribe_events .tribe-events-schedule{margin: 10px 0;}

.single-tribe_events .tribe-events-c-subscribe-dropdown .tribe-events-c-subscribe-dropdown__list, .tribe-events .tribe-events-c-subscribe-dropdown .tribe-events-c-subscribe-dropdown__list{
	font-family: var(--wp--preset--font-family--primary);
	font-size: var(--wp--preset--font-size--x-small)!important;
}

.tribe-events-tickets input[type=date], .tribe-events-tickets input[type=datetime-local], .tribe-events-tickets input[type=email], .tribe-events-tickets input[type=month], .tribe-events-tickets input[type=number], .tribe-events-tickets input[type=password], .tribe-events-tickets input[type=search], .tribe-events-tickets input[type=tel], .tribe-events-tickets input[type=text], .tribe-events-tickets input[type=time], .tribe-events-tickets input[type=url], .tribe-events-tickets input[type=week], .tribe-events-tickets select, .tribe-events-tickets textarea{
	font-family: var(--wp--preset--font-family--primary);
	font-size: var(--wp--preset--font-size--small);
	padding: 0.8rem 1.0rem;
	background-color: #fff;
	border: 2px solid #2B2D2F!important;}

	.tribe-events-tickets button[type="submit"]{
		font-family: var(--wp--preset--font-family--primary);
		border-radius: 0px;
		padding:15px 30px;
		font-weight: 700;
		font-size: 20px;
		background-color:var(--wp--preset--color--secondary);
		color: #fff!important;
		cursor: pointer;
		margin-top: 7px;
		border:0;}

	.tribe-events-tickets button[type="submit"]:hover{background-color:var(--wp--preset--color--septenary);}

@media (min-width: 768px){
.tribe-events-venue-map>div, .tribe-events-venue-map>iframe {
    max-height: 316px;
}	
}

@media (max-width: 768px){

	body.single-tribe_events .tribe-events-single>.tribe_events{
		display:block;
	}

	body.single-tribe_events .tribe-events-event-meta {
		display: inline-block;}

	.tec-block__single-event #tribe-events-content .tribe-events.tribe-common {
	flex-basis: 100%;
}

.tribe-events-meta-group.tribe-events-meta-group-details, .tribe-events-meta-group.tribe-events-meta-group-organizer{width:100%;}

.tec-block__single-event #tribe-events-content .tribe-events-single-event-description.tribe-events-content {
	flex-basis: 100%;
}}

/* EVENTS META */
.tribe-events-single-section.tribe-events-event-meta:before {
	border-top: 0;
}
.tribe-events-single-section.tribe-events-event-meta.primary {
	flex-basis: 66%;
}
.tribe-events-single-section.tribe-events-event-meta.secondary {
	flex-basis: 33%;
}

body .tribe-events-meta-group .tribe-events-single-section-title {
	font-family: var(--wp--preset--font-family--primary);
	letter-spacing: 0;
	font-size: 28px;
	font-weight: var(--wp--custom--font-weight--bold);
	line-height: var(--wp--custom--line-height--large);
    text-transform: capitalize;
    margin-bottom: 30px;
}
body .tribe-events-event-meta dt:not(:first-child) {
    margin-top: 30px;
}
body .tribe-events-meta-group dl dt,
body .tribe-events-meta-group dl dd {
	font-family: var(--wp--preset--font-family--primary);
	font-size: var(--wp--preset--font-size--small);
	line-height: var(--wp--custom--line-height--normal);
}
body .tribe-events-meta-group dl dt {
	font-weight: var(--wp--custom--font-weight--bold);
}
body .tribe-events-meta-group dl dd {
	font-weight: var(--wp--custom--font-weight--medium);
}

/* FOOTER */
body #tribe-events-footer {
    border-top: 0;
}
body nav.tribe-events-nav-pagination {
    display: none;
}