/* === Button Padding Preset === */
/* === Fixes for WP Core Updates === */
:root :where(.wp-block-button .wp-block-button__link) {
  text-transform: inherit !important;
}

/* === General Styles === */
.wp-block-buttons.has-x-small-font-size .wp-element-button {
  padding: 10px !important;
}
.wp-block-buttons.has-small-font-size .wp-element-button {
  padding: 20px !important;
}
.wp-block-buttons.has-medium-font-size .wp-element-button {
  padding: 30px 40px !important;
}

.wp-block-button .wp-block-button__link.is-style-outline,
.wp-block-button.is-style-outline > .wp-block-button__link {
  padding: 8px 1.333em;
}

body .is-layout-constrained > .wp-block-group.alignfull,
body .is-layout-constrained .is-layout-constrained .alignfull {
  -webkit-margin-before: 0px !important;
          margin-block-start: 0px !important;
}
body .alignfull.is-layout-flow {
  -webkit-margin-before: 0px !important;
          margin-block-start: 0px !important;
}

.block-editor-block-list__block.is-style-underline-hover .wp-block-button__link {
  background-color: transparent !important;
  border: solid 1px currentColor !important;
  color: currentColor !important;
}

/* === Buttons Styles === */
body .wp-element-button,
body .wp-block-button__link {
  color: var(--wp--preset--color--base);
}
body .wp-element-button:hover,
body .wp-block-button__link:hover {
  text-decoration: underline;
}
body .is-style-outline .wp-element-button,
body is-style-outline .wp-block-button__link,
body .is-style-lsx-outline .wp-element-button,
body is-style-lsx-outline .wp-block-button__link {
  color: var(--wp--preset--color--primary);
}

.wp-block-button {
  /* TO REMOVE */
}
.wp-block-button .has-primary-background-color:hover {
  background-color: var(--wp--custom--colour--primary--700) !important;
}
.wp-block-button .has-secondary-background-color:hover {
  background-color: var(--wp--custom--colour--secondary--700) !important;
}
.wp-block-button .has-tertiary-background-color:hover {
  background-color: var(--wp--custom--colour--tertiary--700) !important;
}
.wp-block-button .has-quaternary-background-color:hover {
  background-color: var(--wp--custom--colour--quaternary--700) !important;
}
.wp-block-button .has-quinary-background-color:hover {
  background-color: var(--wp--custom--colour--quinary--700) !important;
}
.wp-block-button .has-senary-background-color:hover {
  background-color: #276134 !important;
}
.wp-block-button .has-senary-background-color:active {
  background-color: #61bf76 !important;
}
.wp-block-button .has-septenary-background-color:hover {
  background-color: #8b2b18 !important;
}
.wp-block-button .has-septenary-background-color:active {
  background-color: #e37059 !important;
}
.wp-block-button .has-octonary-background-color:hover {
  background-color: #713600 !important;
}
.wp-block-button .has-octonary-background-color:active {
  background-color: #ff800b !important;
}
.wp-block-button .has-novenary-background-color:hover {
  background-color: #89276e !important;
}
.wp-block-button .has-novenary-background-color:active {
  background-color: #d772bb !important;
}
.wp-block-button .has-denary-background-color:hover {
  background-color: #ff3333 !important;
}
.wp-block-button .has-denary-background-color:active {
  background-color: #ffcccc !important;
}
.wp-block-button .has-cta-background-color:hover {
  background-color: var(--wp--custom--colour--cta--700) !important;
}
.wp-block-button .has-cta-background-color:active {
  background-color: var(--wp--custom--colour--cta--400) !important;
}
.wp-block-button.is-style-outline .wp-element-button {
  border-width: 2px;
}
.wp-block-button.is-style-outline .wp-element-button:hover {
  color: #fff !important;
  border-width: 2px;
  border-style: solid;
}
.wp-block-button.is-style-outline .wp-element-button.has-primary-color:hover {
  background-color: var(--wp--custom--colour--primary--500) !important;
  border-color: var(--wp--custom--colour--primary--500) !important;
}
.wp-block-button.is-style-outline .wp-element-button.has-secondary-color:hover {
  background-color: var(--wp--custom--colour--secondary--500) !important;
  border-color: var(--wp--custom--colour--secondary--500) !important;
}
.wp-block-button.is-style-outline .wp-element-button.has-secondary-color:hover {
  background-color: var(--wp--custom--colour--secondary--100) !important;
  border-color: var(--wp--preset--color--secondary) !important;
  color: var(--wp--preset--color--secondary) !important;
}
.wp-block-button.is-style-outline .wp-element-button.has-tertiary-color:hover {
  background-color: var(--wp--custom--colour--tertiary--500) !important;
  border-color: var(--wp--custom--colour--tertiary--500) !important;
}
.wp-block-button.is-style-outline .wp-element-button.has-quaternary-color:hover {
  background-color: var(--wp--custom--colour--quaternary--500) !important;
  border-color: var(--wp--custom--colour--quaternary--500) !important;
}
.wp-block-button.is-style-outline .wp-element-button.has-quinary-color:hover {
  background-color: var(--wp--custom--colour--quinary--500) !important;
  border-color: var(--wp--custom--colour--quinary--500) !important;
}
.wp-block-button.is-style-outline .wp-element-button.has-cta-color-color:hover {
  background-color: var(--wp--custom--colour--cta-color--500) !important;
  border-color: var(--wp--custom--colour--cta-color--500) !important;
}
.wp-block-button.is-style-outline .wp-element-button.has-contrast-color:hover {
  background-color: var(--wp--preset--color--ctahover) !important;
  color: var(--wp--preset--color--base) !important;
}
.wp-block-button.is-style-fill a:hover {
  opacity: 0.8;
}
.wp-block-button.is-style-link .wp-element-button {
  background-color: transparent;
  padding: 4px 0 0 2px;
  color: #000;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 4px;
}
.wp-block-button.is-style-link .wp-element-button:hover {
  background-color: transparent;
  opacity: 0.8;
  text-decoration: none;
}
.wp-block-button.is-style-cta .wp-element-button {
  background-color: var(--wp--preset--color--cta);
  color: var(--wp--preset--color--base);
}
.wp-block-button.is-style-cta .wp-element-button:hover {
  background-color: var(--wp--custom--colour--cta--800) !important;
  box-shadow: 0 0 0 var(--cta-stroke-width, 0) var(--wp--custom--colour--cta--900), 0 var(--animation-depth, 0.275em) 0 0 var(--wp--custom--colour--cta--900);
  transform: translateY(calc(-1 * var(--animation-depth, 0.275em)));
}
.wp-block-button.is-style-cta .wp-element-button:active {
  background-color: var(--wp--custom--colour--cta--500) !important;
  box-shadow: 0px 2px var(--wp--custom--colour--cta--800);
  transform: translateY(calc(-1 * var(--animation-depth, 0.075em)));
}
.wp-block-button.is-style-cta .wp-element-button:focus {
  background-color: var(--wp--custom--colour--cta--500) !important;
  box-shadow: 0px 0px var(--wp--custom--colour--cta--800);
}
.wp-block-button .has-cta-background-color {
  color: var(--wp--preset--color--base);
}
.wp-block-button.is-style-lsx a {
  color: var(--wp--preset--color--base);
}
.wp-block-button.is-style-lsx a:hover {
  box-shadow: 0 0 0 var(--cta-stroke-width, 0) var(--wp--preset--color--contrast), 0 var(--animation-depth, 0.275em) 0 0 var(--wp--preset--color--contrast);
  opacity: 1;
  transform: translateY(calc(-1 * var(--animation-depth, 0.275em)));
}
.wp-block-button.is-style-lsx a:active {
  box-shadow: 0px 0px 0px 0px;
  -webkit-box-shadow: 0px 0px 0px 0px;
  transform: translateY(calc(-1 * var(--animation-depth, 0.075em))) !important;
}
.wp-block-button.is-style-lsx .has-cta-color:hover {
  background-color: var(--wp--custom--colour--cta--100) !important;
  color: var(--wp--preset--color--cta) !important;
}
.wp-block-button.is-style-lsx .has-cta-color:focus {
  color: var(--wp--custom--colour--cta--700) !important;
}
.wp-block-button.is-style-lsx .has-cta-color:active {
  background-color: #fff !important;
  box-shadow: 0px 2px var(--wp--preset--color--cta);
  color: var(--wp--preset--color--cta) !important;
}
.wp-block-button.is-style-lsx .has-primary-background-color {
  color: var(--wp--preset--color--base) !important;
  border: 0;
}
.wp-block-button.is-style-lsx .has-primary-background-color:hover {
  background-color: var(--wp--custom--colour--primary--700) !important;
}
.wp-block-button.is-style-lsx .has-primary-background-color:active {
  background-color: var(--wp--custom--colour--primary--400) !important;
}
.wp-block-button.is-style-lsx .has-secondary-background-color {
  color: var(--wp--custom--colour--secondary--800) !important;
}
.wp-block-button.is-style-lsx .has-secondary-background-color:hover {
  background-color: var(--wp--custom--colour--secondary--700) !important;
  color: #fff !important;
}
.wp-block-button.is-style-lsx .has-secondary-background-color:active {
  background-color: var(--wp--custom--colour--secondary--400) !important;
  color: var(--wp--preset--color--contrast) !important;
}
.wp-block-button.is-style-lsx .has-tertiary-background-color {
  color: var(--wp--custom--colour--tertiary--1000) !important;
}
.wp-block-button.is-style-lsx .has-tertiary-background-color:hover {
  background-color: var(--wp--custom--colour--tertiary--700) !important;
  color: #fff !important;
}
.wp-block-button.is-style-lsx .has-tertiary-background-color:active {
  background-color: var(--wp--custom--colour--tertiary--400) !important;
  color: var(--wp--preset--color--contrast) !important;
}
.wp-block-button.is-style-lsx .has-quaternary-background-color {
  color: var(--wp--preset--color--contrast) !important;
}
.wp-block-button.is-style-lsx .has-quaternary-background-color:hover {
  background-color: var(--wp--custom--colour--quaternary--700) !important;
  color: #fff !important;
}
.wp-block-button.is-style-lsx .has-quaternary-background-color:active {
  background-color: var(--wp--custom--colour--quaternary--400) !important;
  color: var(--wp--preset--color--contrast) !important;
}
.wp-block-button.is-style-lsx .has-quinary-background-color {
  color: var(--wp--preset--color--contrast) !important;
}
.wp-block-button.is-style-lsx .has-quinary-background-color:hover {
  background-color: var(--wp--custom--colour--quinary--700) !important;
  color: #fff !important;
}
.wp-block-button.is-style-lsx .has-quinary-background-color:active {
  background-color: var(--wp--custom--colour--quinary--400) !important;
  color: var(--wp--preset--color--contrast) !important;
}
.wp-block-button.is-style-lsx-outline .wp-element-button {
  border: 1px solid currentColor;
  background: transparent;
}
.wp-block-button.is-style-lsx-outline .wp-element-button:active {
  background-color: #fff !important;
  box-shadow: 0px 0px 0px 0px;
  -webkit-box-shadow: 0px 0px 0px 0px;
  transform: translateY(calc(-1 * var(--animation-depth, 0.075em))) !important;
}
.wp-block-button.is-style-lsx-outline .wp-element-button:hover {
  transform: translateY(calc(-1 * var(--animation-depth, 0.275em)));
}
.wp-block-button.is-style-lsx-outline .wp-element-button:focus {
  color: #fff !important;
}
.wp-block-button.is-style-lsx-outline .wp-element-button.has-cta-color:hover {
  background-color: var(--wp--custom--colour--cta--100) !important;
  border-color: var(--wp--preset--color--cta) !important;
  box-shadow: 0px 2px var(--wp--preset--color--cta);
  box-shadow: 0 0 0 var(--cta-stroke-width, 0) var(--wp--preset--color--cta), 0 var(--animation-depth, 0.275em) 0 0 var(--wp--preset--color--cta);
}
.wp-block-button.is-style-lsx-outline .wp-element-button.has-cta-color:focus {
  background-color: var(--wp--preset--color--cta) !important;
  border-color: var(--wp--custom--colour--cta--300) !important;
  box-shadow: 0px 0px var(--wp--preset--color--cta);
}
.wp-block-button.is-style-lsx-outline .wp-element-button.has-cta-color:active {
  border-color: var(--wp--preset--color--cta) !important;
  box-shadow: 0px 2px var(--wp--preset--color--cta);
  color: var(--wp--preset--color--cta) !important;
}
.wp-block-button.is-style-lsx-outline .wp-element-button.has-primary-color:active {
  border-color: var(--wp--preset--color--primary) !important;
  box-shadow: 0px 2px var(--wp--preset--color--primary);
  color: var(--wp--preset--color--primary) !important;
}
.wp-block-button.is-style-lsx-outline .wp-element-button.has-primary-color:hover {
  background-color: var(--wp--custom--colour--primary--100) !important;
  border-color: var(--wp--preset--color--primary) !important;
  color: var(--wp--preset--color--primary) !important;
  box-shadow: 0px 2px var(--wp--preset--color--primary);
  box-shadow: 0 0 0 var(--cta-stroke-width, 0) var(--wp--preset--color--primary), 0 var(--animation-depth, 0.275em) 0 0 var(--wp--preset--color--primary);
}
.wp-block-button.is-style-lsx-outline .wp-element-button.has-secondary-color:active {
  border-color: var(--wp--preset--color--secondary) !important;
  box-shadow: 0px 2px var(--wp--preset--color--secondary);
  color: var(--wp--preset--color--secondary) !important;
}
.wp-block-button.is-style-lsx-outline .wp-element-button.has-secondary-color:hover {
  background-color: var(--wp--custom--colour--secondary--100) !important;
  border-color: var(--wp--preset--color--secondary) !important;
  color: var(--wp--preset--color--secondary) !important;
  box-shadow: 0 0 0 var(--cta-stroke-width, 0) var(--wp--preset--color--secondary), 0 var(--animation-depth, 0.275em) 0 0 var(--wp--preset--color--secondary);
}
.wp-block-button.is-style-lsx-outline .wp-element-button.has-tertiary-color:active {
  border-color: var(--wp--preset--color--tertiary) !important;
  box-shadow: 0px 2px var(--wp--preset--color--tertiary);
  color: var(--wp--preset--color--tertiary) !important;
}
.wp-block-button.is-style-lsx-outline .wp-element-button.has-tertiary-color:hover {
  background-color: var(--wp--custom--colour--tertiary--100) !important;
  border-color: var(--wp--preset--color--tertiary) !important;
  color: var(--wp--preset--color--tertiary) !important;
  box-shadow: 0px 2px var(--wp--preset--color--tertiary);
  box-shadow: 0 0 0 var(--cta-stroke-width, 0) var(--wp--preset--color--tertiary), 0 var(--animation-depth, 0.275em) 0 0 var(--wp--preset--color--tertiary);
}
.wp-block-button.is-style-lsx-outline .wp-element-button.has-quaternary-color:active {
  border-color: var(--wp--preset--color--quaternary) !important;
  box-shadow: 0px 2px var(--wp--preset--color--quaternary);
  color: var(--wp--preset--color--quaternary) !important;
}
.wp-block-button.is-style-lsx-outline .wp-element-button.has-quaternary-color:hover {
  background-color: var(--wp--custom--colour--quaternary--100) !important;
  border-color: var(--wp--preset--color--quaternary) !important;
  color: var(--wp--preset--color--quaternary) !important;
  box-shadow: 0px 2px var(--wp--preset--color--quaternary);
  box-shadow: 0 0 0 var(--cta-stroke-width, 0) var(--wp--preset--color--quaternary), 0 var(--animation-depth, 0.275em) 0 0 var(--wp--preset--color--quaternary);
}
.wp-block-button.is-style-lsx-outline .wp-element-button.has-quinary-color:active {
  border-color: var(--wp--preset--color--quinary) !important;
  box-shadow: 0px 2px var(--wp--preset--color--quinary);
  color: var(--wp--preset--color--quinary) !important;
}
.wp-block-button.is-style-lsx-outline .wp-element-button.has-quinary-color:hover {
  background-color: var(--wp--custom--colour--quinary--100) !important;
  border-color: var(--wp--preset--color--quinary) !important;
  color: var(--wp--preset--color--quinary) !important;
  box-shadow: 0px 2px var(--wp--preset--color--quinary);
  box-shadow: 0 0 0 var(--cta-stroke-width, 0) var(--wp--preset--color--quinary), 0 var(--animation-depth, 0.275em) 0 0 var(--wp--preset--color--quinary);
}
.wp-block-button.is-style-shadow .wp-element-button {
  box-shadow: 4px 4px 0px 0px var(--wp--preset--color--contrast);
  transition: none;
}
.wp-block-button.is-style-shadow .wp-element-button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 4px;
  left: 4px;
  transition: none;
  position: relative;
}
.has-contrast-background-color .wp-block-button.is-style-shadow .wp-element-button {
  box-shadow: 4px 4px var(--wp--custom--colour--base--500);
}
.has-contrast-background-color .wp-block-button.is-style-shadow .wp-element-button:active {
  box-shadow: 0px 2px var(--wp--custom--colour--base--500) !important;
}
.wp-block-button.is-style-outline-shadow .wp-element-button {
  background-color: transparent;
  box-shadow: 5px 5px var(--wp--preset--color--contrast);
  border: 1px solid var(--wp--preset--color--contrast);
  color: var(--wp--preset--color--contrast);
  transition: none;
}
.wp-block-button.is-style-outline-shadow .wp-element-button:hover {
  background-color: var(--wp--preset--color--primary);
}
.wp-block-button.is-style-outline-shadow .wp-element-button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 4px;
  left: 4px;
  transition: none;
  position: relative;
}
.wp-block-button.is-style-outline-shadow .wp-element-button.has-primary-color {
  box-shadow: 4px 4px 0px 0px var(--wp--custom--colour--primary--800);
  border: 1px solid var(--wp--preset--color--primary);
}
.wp-block-button.is-style-outline-shadow .wp-element-button.has-primary-color:hover {
  background-color: var(--wp--preset--color--primary) !important;
  color: var(--wp--preset--color--base) !important;
}
.wp-block-button.is-style-outline-shadow .wp-element-button.has-primary-color:active {
  box-shadow: 0px 0px 0px 0px;
}
.wp-block-button.is-style-outline-shadow .wp-element-button.has-primary-background-color {
  color: var(--wp--preset--color--base);
  border: 1px solid var(--wp--custom--colour--primary--800);
}
.wp-block-button.is-style-outline-shadow .wp-element-button.has-secondary-color {
  box-shadow: 4px 4px 0px 0px var(--wp--custom--colour--secondary--800);
  border: 1px solid var(--wp--preset--color--secondary);
}
.wp-block-button.is-style-outline-shadow .wp-element-button.has-secondary-color:hover {
  background-color: var(--wp--preset--color--secondary) !important;
  color: var(--wp--preset--color--base) !important;
}
.wp-block-button.is-style-outline-shadow .wp-element-button.has-secondary-color:active {
  box-shadow: 0px 0px 0px 0px;
}
.wp-block-button.is-style-outline-shadow .wp-element-button.has-tertiary-color {
  box-shadow: 4px 4px 0px 0px var(--wp--custom--colour--tertiary--800);
  border: 1px solid var(--wp--preset--color--tertiary);
}
.wp-block-button.is-style-outline-shadow .wp-element-button.has-tertiary-color:hover {
  background-color: var(--wp--preset--color--tertiary) !important;
  color: var(--wp--preset--color--base) !important;
}
.wp-block-button.is-style-outline-shadow .wp-element-button.has-tertiary-color:active {
  box-shadow: 0px 0px 0px 0px;
}
.wp-block-button.is-style-outline-shadow .wp-element-button.has-quaternary-color {
  box-shadow: 4px 4px 0px 0px var(--wp--custom--colour--quaternary--800);
  border: 1px solid var(--wp--preset--color--quaternary);
}
.wp-block-button.is-style-outline-shadow .wp-element-button.has-quinary-color {
  box-shadow: 4px 4px 0px 0px var(--wp--custom--colour--quinary--800);
  border: 1px solid var(--wp--preset--color--quinary);
}
.wp-block-button.is-style-outline-shadow .wp-element-button.has-cta-color {
  box-shadow: 4px 4px 0px 0px var(--wp--custom--colour--cta--800);
  border: 1px solid var(--wp--preset--color--cta);
}
.wp-block-button.is-style-outline-shadow .wp-element-button.has-cta-color:hover {
  background-color: var(--wp--preset--color--cta) !important;
  color: var(--wp--preset--color--base) !important;
}
.wp-block-button.is-style-outline-shadow .wp-element-button.has-cta-color:active {
  box-shadow: 0px 0px 0px 0px;
}
.has-contrast-background-color .wp-block-button.is-style-outline-shadow .wp-element-button.has-cta-color {
  box-shadow: 4px 4px 0px 0px var(--wp--custom--colour--cta--300);
  transition: none;
}
.has-contrast-background-color .wp-block-button.is-style-outline-shadow .wp-element-button.has-cta-color:active {
  box-shadow: 0px 0px 0px 0px;
}
.wp-block-button.is-style-outline-shadow .has-base-background-color.has-background:hover {
  color: var(--wp--preset--color--base) !important;
  background-color: var(--wp--preset--color--cta);
}
.wp-block-button.is-style-outline-shadow .has-contrast-color:hover {
  color: var(--wp--preset--color--base) !important;
  background-color: var(--wp--preset--color--contrast) !important;
}
.wp-block-button.is-style-outline-shadow .has-contrast-color:active {
  box-shadow: 0px 0px 0px 0px;
}
.wp-block-button.is-style-icon .has-primary-background-color {
  color: var(--wp--preset--color--base);
}
.wp-block-button.is-style-icon .has-primary-background-color:after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='29' viewBox='0 0 28 29' fill='none'%3E%3Ccircle cx='14.5' cy='15' r='12' stroke='white' stroke-width='2'/%3E%3Cpath d='M13.4887 11.0045L16.3617 13.7766H9.41327C8.90717 13.7766 8.5 14.1863 8.5 14.6956V15.3082C8.5 15.8175 8.90717 16.2272 9.41327 16.2272H16.3617L13.4887 18.9994C13.1196 19.3555 13.112 19.9489 13.4735 20.3127L13.8921 20.7301C14.2498 21.09 14.8282 21.09 15.1821 20.7301L20.2317 15.6528C20.5894 15.2929 20.5894 14.7109 20.2317 14.3548L15.1821 9.26994C14.8244 8.91002 14.246 8.91002 13.8921 9.26994L13.4735 9.6873C13.112 10.0549 13.1196 10.6484 13.4887 11.0045Z' fill='white'/%3E%3C/svg%3E");
  stroke: #fff !important;
  fill: #fff !important;
  content: "";
  display: inline-block;
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-right: 6px;
  margin-left: 6px;
  margin-top: -5px;
  vertical-align: middle;
}
.wp-block-button.is-style-underline-hover .wp-element-button {
  background-color: transparent;
  border: solid 1px currentColor;
  color: currentColor;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  height: 3.125rem;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-property: color, border-color, background-color;
}
.wp-block-button.is-style-underline-hover .wp-element-button:hover:after {
  position: absolute;
  transform: scale(1, 1) !important;
}
.wp-block-button.is-style-underline-hover .wp-element-button:after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1875rem;
  background-color: currentColor;
  transform: scale(0, 1);
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-property: transform;
}
.wp-block-button.is-style-rounded .wp-element-button {
  border-radius: 8px !important;
}
.wp-block-button.is-style-rounded .wp-element-button:hover {
  border-radius: 8px !important;
}
.wp-block-button .is-style-pill-outline .wp-element-button {
  border-radius: 50px !important;
  background-color: transparent;
  border: 1px solid;
  border-color: currentColor;
}

.wp-block-navigation__submenu-container.has-contrast-background-color .wp-block-button.is-style-link .wp-element-button {
  color: #fff !important;
}

.wp-block-button .has-contrast-color.has-base-background-color:hover {
  color: var(--wp--preset--color--base) !important;
  background-color: var(--wp--preset--color--contrast) !important;
}

/* Button Hovers
--------------------------------------------- */
.wp-block-button .wp-block-button__link.is-style-outline:not(.has-background):hover,
.wp-block-button.is-style-outline > .wp-block-button__link:not(.has-background):hover {
  color: var(--wp--preset--color--base);
  background-color: var(--wp--preset--color--contrast);
  border: 2px solid var(--wp--preset--color--contrast);
}

/* Normal Button hover contrast */
.wp-block-button.has-contrast-background-color:hover {
  background-color: var(--wp--preset--color--primary) !important;
}

.wp-block-button .has-contrast-background-color:hover {
  background-color: var(--wp--preset--color--primary) !important;
}

.has-contrast-background-color .wp-block-button.is-style-fill-base .wp-element-button:hover {
  background-color: var(--wp--custom--colour--primary--600);
  color: var(--wp--preset--color--base);
}

.wp-block-button.is-style-fill-base.is-style-fill .wp-element-button:hover {
  background-color: var(--wp--custom--colour--primary--600);
  color: var(--wp--preset--color--base);
}

.wp-block-button.is-style-pill .has-primary-background-color:hover {
  background-color: var(--wp--custom--colour--primary--600) !important;
  color: var(--wp--preset--color--base) !important;
}

.wp-block-button.is-style-pill-outline .has-primary-color:hover {
  background-color: var(--wp--custom--colour--primary--600) !important;
  color: var(--wp--preset--color--base) !important;
}

.wp-block-button.is-style-pill .has-secondary-background-color:hover {
  background-color: var(--wp--custom--colour--secondary--600) !important;
  color: var(--wp--preset--color--base) !important;
}

.wp-block-button.is-style-pill-outline .has-secondary-color:hover {
  background-color: var(--wp--custom--colour--secondary--600) !important;
  color: var(--wp--preset--color--base) !important;
}

.wp-block-button.is-style-pill .has-tertiary-background-color:hover {
  background-color: var(--wp--custom--colour--tertiary--600) !important;
  color: var(--wp--preset--color--base) !important;
}

.wp-block-button.is-style-pill-outline .has-tertiary-color:hover {
  background-color: var(--wp--custom--colour--tertiary--600) !important;
  color: var(--wp--preset--color--base) !important;
}

.wp-block-button.is-style-pill .has-quaternary-background-color:hover {
  background-color: var(--wp--custom--colour--quaternary--600) !important;
  color: var(--wp--preset--color--base) !important;
}

.wp-block-button.is-style-pill-outline .has-quaternary-color:hover {
  background-color: var(--wp--custom--colour--quaternary--600) !important;
  color: var(--wp--preset--color--base) !important;
}

.wp-block-button.is-style-pill .has-quinary-background-color:hover {
  background-color: var(--wp--custom--colour--quinary--600) !important;
  color: var(--wp--preset--color--base) !important;
}

.wp-block-button.is-style-pill-outline .has-quinary-color:hover {
  background-color: var(--wp--custom--colour--quinary--600) !important;
  color: var(--wp--preset--color--base) !important;
}

/* Contrast Backgrounds 
.has-contrast-background-color .wp-block-button .has-cta-background-color {
    border: 1px solid var(--wp--custom--colour--cta--300)!important;
} */
.has-contrast-background-color .wp-block-button .has-cta-background-color:hover,
.has-contrast-background-color .wp-block-button.is-style-pill .has-cta-background-color:hover {
  background-color: var(--wp--custom--colour--cta--600) !important;
  border-color: var(--wp--custom--colour--cta--300) !important;
  box-shadow: 0 0 0 var(--cta-stroke-width, 0) var(--wp--custom--colour--cta--300), 0 var(--animation-depth, 0.275em) 0 0 var(--wp--custom--colour--cta--300);
  transform: translateY(calc(-1 * var(--animation-depth, 0.275em)));
}

.has-contrast-background-color .wp-block-button .has-cta-background-color:active,
.has-contrast-background-color .wp-block-button.is-style-pill .has-cta-background-color:active {
  background-color: var(--wp--custom--colour--cta--600) !important;
  border-color: var(--wp--custom--colour--cta--300) !important;
  box-shadow: 0 0 0 var(--cta-stroke-width, 0) var(--wp--custom--colour--cta--300), 0 var(--animation-depth, 0.075em) 0 0 var(--wp--custom--colour--cta--300);
  transform: translateY(calc(-1 * var(--animation-depth, 0.075em)));
}
/*# sourceMappingURL=button.css.map */