/* Login --------------------------------------------- */

form#loginform input{
    width: 100%;
    padding: 10px 16px;
    font-size: 19px;
    line-height: 1.33333;
    border-radius: 6px;
    display:block;
}
form#loginform input#rememberme{
    display: inline-flex;
    width: auto;
}
form#loginform p{
    padding:5px 0!important;
    font-size: var(--wp--preset--font-size--x-small);
}

form#loginform input.button-primary{
    background-color: var(--wp--preset--color--primary);
    border-radius: 6px;
    border-width: 0;
    color: var(--wp--preset--color--base);
    font-family: inherit;
    font-size: var(--wp--preset--font-size--x-small);
    font-weight: 700;
    line-height: inherit;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    text-decoration: none;
    cursor: pointer;
}

form#loginform input.button-primary:hover{
    background-color: var(--wp--custom--colour--primary--600);
	text-decoration: underline;
}


    .is-style-compressed form#loginform p.login-remember{display:inline-flex;width:30%;}
    .is-style-compressed form#loginform p.login-submit{display:inline-flex;width:70%;}

    .is-style-compressed form#loginform input.button-primary{
        width: 100%;
        border-radius: 6px;
        margin-left: 20px;
        margin-left:20px;
    }