/* BLOCK LINKS */
.wp-block-navigation .wp-block-navigation-item:hover > a.wp-block-navigation-item__content,
.wp-block-navigation .wp-block-navigation-item.current-menu-item > a.wp-block-navigation-item__content {
	text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
}

body .wp-block-navigation a.wp-block-navigation-item__content {
	line-height: var(--wp--custom--line-height--normal);
}

.wp-block-navigation .wp-block-navigation-item:hover > a.wp-block-navigation-item__content,
.wp-block-navigation .wp-block-navigation-item.current-menu-item > a.wp-block-navigation-item__content {
	color: var(--wp--preset--color--secondary);
}

.wp-block-navigation .wp-block-navigation-item:active > a.wp-block-navigation-item__content {
	color: var(--wp--preset--color--secondary);
}

.wp-block-navigation .wp-block-navigation-item:focus > a.wp-block-navigation-item__content {
	color: var(--wp--preset--color--primary);
	text-decoration-line: underline;
}	

body .wp-block-navigation a.wp-block-navigation-item__content:active {
	text-decoration-line: underline;
}

.wp-block-navigation .wp-element-button.wp-block-button__link:hover,
.wp-block-navigation .wp-element-button.wp-block-button__link:hover {
	text-decoration: underline;
}