/* Sizes
--------------------------------------------- */

.wp-block-pullquote cite{font-size: var(--wp--preset--font-size--x-small);font-weight:normal;text-align:center;}
.wp-block-pullquote{position:relative;}
.wp-block-pullquote blockquote:before{content: '';padding-left: 42px;
    height:42px;width:42px;
    background-image: url(../../images/pull-quote-icon-with-circle.png);
    background-repeat: no-repeat;
    background-size: 42px;
    position: absolute;
    display: block;
    margin-top: 0;
    top: -20px;
    left: 48%;}

.wp-block-pullquote.is-style-simple{
    border:none;
    border-left:4px solid currentColor;
    text-align: left;
    padding:20px 30px;
}
.editor-styles-wrapper .wp-block-pullquote.is-style-simple{
    border:none;
    border-left:4px solid currentColor;
    text-align: left;
}
.wp-block-pullquote.is-style-primary-background{margin-top:40px;position: relative;border-radius: 5px;border: 2px solid #ccc;}

.wp-block-pullquote.is-style-primary-background:before {
    background-color: #f6f6f6;
    color: #d84e2e;
    font-size: 92px;
    height: 80px;
    top: -50px;
    width: 80px;
    border-radius: 50%;
    content: "”";
    text-align: center;
    font-family: system;
    font-style: normal;
    left: 50%;
    line-height: 1.375;
    overflow: hidden;
    position: absolute;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);}

    .wp-block-pullquote.is-style-primary-background p{font-style:italic;}

    .wp-block-pullquote.is-style-contrast-background{margin-top:40px;position: relative;border-radius: 5px;border: 2px solid #ccc;background:#000; }

.wp-block-pullquote.is-style-contrast-background:before {
    background-color: #f6f6f6;
    color: #d84e2e;
    font-size: 92px;
    height: 80px;
    top: -50px;
    width: 80px;
    border-radius: 50%;
    content: "”";
    text-align: center;
    font-family: system;
    font-style: normal;
    left: 50%;
    line-height: 1.375;
    overflow: hidden;
    position: absolute;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);}

    .wp-block-pullquote.is-style-contrast-background p{font-style:italic;color:#fff!important}
    .wp-block-pullquote.is-style-contrast-background cite{font-style:italic;color:#fff!important}