/* Search
--------------------------------------------- */

.wp-block-search__button {
    border: 0px solid var(--wp--preset--color--contrast)!important;
    border-radius: 0;
    background-color: var(--wp--preset--color--contrast)!important;
    color: var(--wp--preset--color--base);
    cursor: pointer;
    font-size: var(--wp--preset--font-size--small);
    font-weight: var(--wp--custom--font-weight--regular);
    padding: 10px!important;
    text-decoration: none;
    white-space: normal;
    width: auto;
}
.components-resizable-box__container.wp-block-search__inside-wrapper{min-width:30px!important;}
.wp-block-search__inside-wrapper input{border: 1px solid #2B2D2F!important;}
/** * Search Block */

header .wp-block-search.wp-block-search__button-only .wp-block-search__button{max-width: 0;padding: 10px 22px 10px 19px!important;}

header .wp-block-search__button-behavior-expand .wp-block-search__input {
    position: absolute;
    width: 300px;
    margin-left: -300px;
    padding-top: 0;
    padding-bottom: 0;
    height: 44px;
    z-index: 3;
}

header .is-style-navigation.wp-block-search .wp-block-search__input {
    position: absolute;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    height: 44px;
    z-index: 3;
    right: 38px;
    border-radius: 8px;
}

header .is-style-navigation.wp-block-search.wp-block-search__button-only .wp-block-search__button[aria-expanded=true]{
    max-width: 0;}



@media (max-width:960px) {
    /* Navigation Link --------------------------------------------- */
     .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__container{
        padding:10px 0 0 15px;
    }
    header .wp-block-search__button-behavior-expand .wp-block-search__input {
        width: 228px!important;
        margin-left: -224px!important;
    }
    .wp-block-buttons>.wp-block-button.wp-block-button__width-50, .wp-block-buttons>.wp-block-button.wp-block-button__width-25{width:100%;}
     .wp-block-navigation__responsive-container-content .wp-block-search{
        border:0;
        background-color: #464646;
        padding:0px;
        color:#fff!important;
    }
    header .wp-block-navigation__responsive-container.is-menu-open .wp-block-search{margin:0 10px;}
     header .wp-block-navigation__responsive-container.is-menu-open .wp-block-search .wp-block-search__inside-wrapper input, .site-header .wp-block-navigation__responsive-container.is-menu-open .wp-block-search .wp-block-search__inside-wrapper input{
        display:block!important;
        position: relative;
         width: auto!important;
         margin-left: 22px!important;
         background-color: transparent;
        color:#fff!important;
         border:0!important;
         min-height:46px!important;
    }
    .site-header .wp-block-navigation__responsive-container.is-menu-open .wp-block-search__button-inside .wp-block-search__inside-wrapper{
        border:0;
        box-shadow: none;
        border-radius: 0;
    }
}
